@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
$green: #76b694;

// Add purple and its invert
$purple: #40308f;
$purple-invert: #fff;

// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;
$family-primary: "Helvetica", "Arial", sans-serif; // CHANGE THIS!!

// 3. Set the derived variables
// Use the new purple as the primary color
$primary: $purple;
$primary-invert: $purple-invert;
$link: $green;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

.navbar-item img {
    max-height: 2.5rem;
}

.navbar.is-transparent {
    background-color: transparent !important;
}

a {
    font-family: $family-sans-serif;
}

.contact-form {
    font-family: $family-sans-serif;
    
    input {
        font-family: $family-sans-serif;
    }

    select {
        font-family: $family-sans-serif;
    }

    textarea {
        font-family: $family-sans-serif;
    }
}

button {
    font-family: $family-sans-serif;
}

.center-align {
    text-align: center;
}

.section-image.top div {
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.section-image div {
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.hero-body {
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

.hero-body.hero-with-text {
    background-size: cover;
}

.text-over-image {
    background: white;
    opacity: .5;
    border-radius: 6px;
}

.button.is-medium {
    font-size: 1rem;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: $family-sans-serif;
}

p.no-margin-paragraph {
    margin-block-start: 0;
}

img {
    border-radius: 6px;
}

#rise2realize-logo img {
    max-height: 35px;
}

hr {
    margin: 1.5rem 4rem;
}

ul {
    display: block;
    // list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    margin: 9px 0;
}

span.icon {
    margin: 0 7px 0 7px;
}

.copyright {
    font-size: 0.75em;
}

.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 2rem;
}