@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;

// Add purple and its invert
$purple: #40308f;
$purple-invert: #fff;

// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new purple as the primary color
$primary: $purple;
$primary-invert: $purple-invert;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

#logo {
    padding-left: 1em;
}

.navbar-item img {
    max-height: 2.5rem;
}

.primary-text {
    color: $primary;

    strong {
        color: $primary;
    }
}

.centered-text {
    text-align: center;
}

.right-align {
    text-align: end;
}

.section-image.top div {
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.section-image div {
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.button.is-medium {
    font-size: 1rem;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

p.no-margin-paragraph {
    margin-block-start: 0;
}

hr {
    margin: 1.5rem 4rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    margin: 9px 0;
}

span.icon {
    margin: 0 7px 0 7px;
}

.copyright {
    font-size: 0.75em;
}
